# Copier vers /opt/immich_presenter/.env et renseigner les valeurs.
IMMICH_URL=http://192.168.1.183:2283/api
IMMICH_API_KEY=
PORT=8088
BASE_PATH=/_presenter/
PRESENTER_TOKEN=
DEFAULT_SHARE_KEY=
XMP_CONTAINER_PREFIX=/data
XMP_HOST_PREFIX=/opt/immich_data
ALBUM_NAME=
